<!DOCTYPE html>
<html>

    <head>
        <title>3DS Upload</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bulma.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="3DS Upload" />
        <meta property="og:description" content="Webserver to upload images from your 3DS/Wii U console.">
        <meta property="og:image" content="https://oscie.net/assets/square.png">
    </head>

    <body>
        <section class="hero is-fullheight">
            <div id="main-wrapper" class="hero-body">

                <div id="main" class="container is-widescreen has-left-left">
                    <div class="has-text-black">

                        <h1 class="title">
                            3DS Upload
                        </h1>

                        <br>

                        <h2 class="subtitle">Your file has been uploaded.</h2>

                        Check the "uploads" folder and look for "{{ uploadname }}".
                        <br>
                        You can send this image to others via this link:
                        <br>
                        <a href="//{{ url }}/uploads/{{ uploadname }}">http://{{ url }}/uploads/{{ uploadname }}</a>

                        <br><br>

                        <a href="/"><button class="button is-primary">Go Back</button></a>
                        
                        <br><br>

                        <p class="is-6">Created by oscie57 &mdash; <a href="https://github.com/oscie57/3ds-upload">GitHub</a></h4>
                    </div>
                </div>

            </div>
        </section>
    </body>

</html>