<!DOCTYPE html>
<html>

<head>
    <title>3DS Upload</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/mdi.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="3DS Upload" />
    <meta property="og:description" content="Webserver to upload images from your 3DS/Wii U console.">
    <meta property="og:image" content="https://oscie.net/assets/square.png">
</head>

<body>
    <section class="hero is-fullheight">
        <div id="main-wrapper" class="hero-body">

            <div id="main" class="container is-widescreen has-left-left">
                <div class="has-text-black">

                    <div class="notification is-warning">
                        <h2 class="subtitle">When Uploading</h2>
                        Images uploaded can be seen by anyone with access to the webpage. Be careful with what you post.
                      </div>

                    <h1 class="title">
                        3DS Upload
                    </h1>

                    <br>

                    <h2 class="subtitle">Select file to be uploaded.</h2>

                    <br>

                    <form method=post enctype=multipart/form-data>
                        <input type=file name=file>
                        <input type=submit value=Upload>
                    </form>
                </div>
            </div>

        </div>
    </section>
</body>

</html>